#title {
  position: relative;
  z-index: 100000;
  width:90%;
  height:50px;
  text-align:left;
  margin:10px;
}

#instructions {
  border-radius: 25px;
  background: url(images/instructionsBG.jpg);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
  position: fixed;
  top: 40%;
  left: 40%;
  z-index: 10;
}

/* x close button */
.fragment {
  font-size: 12px;
  font-family: tahoma;
  height: 140px;
  border: 1px solid #ccc;
  color: #555;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
}

.fragment:hover {
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

.fragment img { 
  float: left;
  margin-right: 10px;
}

.fragment h3 {
  padding: 0;
  margin: 0;
  color: #369;
}
.fragment h4 {
  padding: 0;
  margin: 0;
  color: #000;
}
#close {
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:#ccc;
}

#open_instructions {
  line-height: 20px;
  width: 60px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position: fixed;
  top:0;
  right:0;
}

#obj1 {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 150px;
    width: 80px;
    height: 40px;
}

a:link {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}
a:hover {
    color: #ffa3d8;
}
a:active {
    color: #a0d0ff;
}
#otop {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 99%;
    height: 20px;
    text-align: right;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.hide {
  display: inline-block;
  position: absolute;
  width: 50px; /* standardize width */
}

#NPC {
  position: absolute;
  top: 40%;
  left: 70%;
}

#NPC2 {
  position: absolute;
  top: 20%;
  left: 50;
}

/* speech bubble for NPC */
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

#art1 {
  position: absolute;
  top: 50%;
  left: 50%;
}

#art1Preview {
  position: absolute;
  top: 43%;
  left: 57%;
}

#art2 {
  position: absolute;
  top: 30%;
  left: 30%;
}

#art2Preview {
  position: absolute;
  top: 23%;
  left: 37%;
}

#art3 {
  position: absolute;
  top: 50%;
  left: 170%;
}

#art3Preview {
  position: absolute;
  top: 43%;
  left: 177%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: fixed;
    bottom: 20%;
    left: 15%;
    z-index: 5;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

/* animated BG */
*{
    margin: 0;
    padding: 0;
  }
  section{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("images/springtemp.jpg");
    /* background: #abff35; */
    /* needs to match with what I start the slider in */
    overflow: hidden;
  }
  section .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
  }
  section .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  section .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  section .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  section .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }

/* canvas and section are overlaid on top of each other bc same dimensions */
#sky {
  bottom: 0;
  left: 0;
  background-size: 1000px 100px;

  position: absolute;
    width: 200%;
    height: 100vh;
    overflow: hidden;
}

/* animated unicorn */
#obj1 img {
  display: none;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#obj1 img:first-child {
    display: block;
}


#container {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

.leaf {
	/* Adiciona um estilo de transição para suavizar a animação */
	animation-duration: 12s;
	animation-name: falling;
	/* Posiciona a folha no topo da tela */
	position: absolute;
	top: -60px;
	/* Define o tamanho da imagem */
	width: 50px;
	height: 50px;
}

.leaf img {
	width: 50px;
	height: 50px;
}

/* Define a animação da folha */
@keyframes falling {
	/* A folha começa no topo da tela */
	0% {
		margin-top: 0;
	}

	20% {
		transform: rotate(70deg);
	}
	50% {
		transform: rotate(-20deg);
	}
	/* A folha se move para baixo até o final da tela */
	100% {
		margin-top: 130vh;
		transform: rotate(80deg);
	}
}

.botoes {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 85%;
	left: 5%;
	justify-content: center;
	align-items: center;
	margin: auto;
	gap: 20px;
}

.botoes button {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	cursor: pointer;
}
